@using MVCTest.ViewModels
@using MVCTest.Extensions
@model ResultList<AuthorViewModel>

@{
    ViewBag.Title = "Authors";
    var queryOptions = Model.QueryOptions;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-8 col-md-offset-2">

    <h2>Authors</h2>
    <p>
        @Html.ActionLink("Create New", "CreateAjax")
    </p>
    <div style="display: none" data-bind="visible: pagingService.entities().length > 0">
        <table class="table table-bordered table-striped">
            <tr>
                <th>@Html.BuildKoSortLink("Name", "IndexAjax", "name")</th>
                <th>@Html.BuildKoSortLink("Publisher", "IndexAjax", "publisher")</th>
                <th>Actions</th>
            </tr>
            <tbody data-bind="foreach:pagingService.entities">
                <tr>
                    <td data-bind="text:name"></td>
                    <td data-bind="text:publisher"></td>
                    <td>
                        <a data-bind="attr: {href: '@Url.Action("DetailsAjax")/' + id}"
                    class="btn btn-info">Details</a>
                        <a data-bind="attr: {href: '@Url.Action("EditAjax")/' + id}"
                    class="btn btn-info">Edit</a>
                        <a data-bind="click:$parent.showDeleteModalAjax,attr: {href: '@Url.HttpRouteUrl("DefaultApi", new { controller = "Authors" })/' + id}"
                        class="btn btn-info">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        @Html.BuildKoPreNextLinks("IndexAjax")
    </div>
    <div style="display: none" data-bind="visible: pagingService.entities().length == 0"
        class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        There are no authors to display.
            Click @Html.ActionLink("here", "CreateAjax") to create one.
    </div>

    <div class="modal fade" id="deleteModal" hidden="hidden">
        <div class="modal-dialog">
            <div class="modal-content">
                @*<pre data-bind="text:ko.toJSON($data,null,2)"></pre>*@
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Author Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    <h3>Are you sure you want to delete this author?</h3>
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>Name</dt>
                            <dd data-bind="text:author.name"></dd>
                            <dt>Publisher</dt>
                            <dd data-bind="text:author.publisher"></dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <form data-bind="submit:deleteAuthorAjax, attr:{action:'@Url.HttpRouteUrl("DefaultApi", new { controller = "Authors" })    '}">
                            @Html.AntiForgeryToken();
                            <div class="form-actions no-color text-center" data-bind="visible:!sending()">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render(
    "/Scripts/ViewModel/PagingService.js",
    "/Scripts/ViewModel/AuthorIndexViewModel.js")
    <script>
        var viewModel = new AuthorIndexViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}
